<%= form_for(@current_user) do |f| %>
<% if @current_user.errors.present? %>
    <div class="alert alert-danger">
<%= alert %>

      <ul>
<% @user.errors.full_users.each do |full_user| %>
<li><%= full_user %></li>
<% end %>
      </ul>
    </div>
<% end %>

<%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
<%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
<%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <%= f.submit "edit my account", class: "btn btn-primary" %>
<% end %>